<div id="frame">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>سامانه سفارش غذا</mat-card-title>&nbsp;
      <mat-card-subtitle
        >آموزشگاه نوین دانشجو</mat-card-subtitle
      > </mat-card-header
    >&nbsp;
    <img
      mat-card-image
      src="../../assets/images/Primary_Image-f99dc5adb51e4a73bdca7e104910ba50.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <div id="text" *ngIf="Disappearance">
        <div>
          <p>به فود اپ خوش امدید.</p>
          <p>
            لطفا برای استفاده از امکانات بیشتر وارد حساب کاربری خود شوید و یا یک
            حساب کاربری برای خود ایجاد نمایید.
          </p>
        </div>
      </div>
      <br />
      <form class="login-form" >
        <mat-form-field class="login-full-width" *ngIf="form">
          <mat-label>نام کاربری</mat-label>
          <input
            type="text"
            matInput
            [formControl]="username"
            placeholder="برای مثال: امیر"
          />
          <mat-error *ngIf="username.hasError('required')">
            حتما نام کاربری وارد شود
          </mat-error>
          <mat-error *ngIf="username.hasError('minlength')">
            <p>نام کاربری باید حداقل 4 حرف باشد</p>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="login-full-width" *ngIf="form">
          <mat-label>کلمه عبور</mat-label>
          <input
            type="password"
            matInput
            [formControl]="password"
            placeholder="برای مثال:12345678"
          />
          <mat-error *ngIf="password.hasError('required')">
            حتما کلمه عبور وارد شود
          </mat-error>
          <mat-error *ngIf="password.hasError('minlength')">
            <p>کلمه عبور باید حداقل 8 حرف باشد</p>
            <p></p
          ></mat-error>
        </mat-form-field>
      </form>
      <form id="register" >
        <div *ngIf="select">
          <h4>لطفا قبل از ثبت نام نوع فعالیت خود را مشخص کنید.</h4>
          <mat-form-field class="mat-form-field">
            <mat-label>نوع فعالیت</mat-label>
            <mat-select>
              <mat-option value="option1">رستوران</mat-option>
              <mat-option value="option2">مشتری</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="login()" mat-button>ورود</button>&nbsp;
      <button (click)="loginII()" mat-button>ثبت نام</button>
    </mat-card-actions>
  </mat-card>
</div>


