#frame {
  height: 100vh;
  background-color: rgba(214, 232, 239, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("../../assets/images/Webalys-Kameleon.pics-Food-Dome.512.png");
  background-size: cover;
}
#text {
  font-size: larger;
  background-color: rgba(187, 234, 234, 0.665);
  margin-top: 3vh;
  border-radius: 1vh;
  padding: 1vh 1vh 1vh 1vh;
}

.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.login-full-width {
  width: 100%;
}

