<div id="enrollment">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>فرم ثبت نام</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="menubar">
        <h4>لطفا قبل از ثبت نام نوع فعالیت خود را مشخص کنید.</h4>
        <form id="register">
          <div>
            <mat-form-field class="mat-form-field">
              <mat-label>نوع فعالیت</mat-label>
              <mat-select>
                <mat-option (click)="Restaurant()" value="رستوران"
                  >رستوران</mat-option
                >
                <mat-option (click)="Member()" value="مشتری">مشتری</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
      </div>
      <form class="example-form" *ngIf="hidden">
        <mat-form-field class="example-full-width">
          <label>فرم ثبت نام رستوران </label>
          <input matInput disabled value="رستوران" />
        </mat-form-field>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-one">
                <mat-label>نام:</mat-label>
                <input name="name" [formControl]="name" matInput />
                <mat-error *ngIf="name.hasError('required')">
                  الزامی است.
                </mat-error>
                <mat-error *ngIf="name.hasError('minlength')">
                  <span> بیشتر از3 حرف.</span>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-one">
                <mat-label>نام خانوادگی</mat-label>
                <input name="lastname" [formControl]="lastname" matInput />
                <mat-error *ngIf="lastname.hasError('required')">
                  الزامی است.
                </mat-error>
                <mat-error *ngIf="lastname.hasError('minlength')">
                  <span>بیشتر از5 حرف.</span>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <td>
          <mat-form-field class="full-one">
            <mat-label>شهر:</mat-label>
            <input
              name="City"
              [formControl]="City"
              matInput
              placeholder="برای مثال:همدان-"
            />
            <mat-error *ngIf="City.hasError('required')">
              الزامی است.
            </mat-error>
            <mat-error *ngIf="City.hasError('minlength')">
              <span>بیشتر از4 حرف.</span>
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-one">
            <mat-label>نام رستوران:</mat-label>
            <input
              name="nrestaurant"
              [formControl]="nrestaurant"
              matInput
              placeholder="مثال:آشپزچی"
            />
            <mat-error *ngIf="nrestaurant.hasError('required')">
              الزامی است.
            </mat-error>
            <mat-error *ngIf="nrestaurant.hasError('minlength')">
              <span>بیشتر از3 حرف.</span>
            </mat-error>
          </mat-form-field>
        </td>
        <mat-form-field class="example-full-width">
          <mat-label>آدرس محل کار:</mat-label>
          <textarea
            name=" Address"
            [formControl]="Address"
            matInput
            placeholder="...برای مثال :همدان- میدان امام"
          ></textarea>
          <mat-error *ngIf="Address.hasError('required')">
            الزامی است.
          </mat-error>
          <mat-error *ngIf="Address.hasError('minlength')">
            <span>آدرس بیشتر از 20 حرف باشد.</span>
          </mat-error>
        </mat-form-field>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>شماره تلفن همراه:</mat-label>
                <input
                  name="number"
                  [formControl]="number"
                  matInput
                  #postalCode
                  maxlength="11"
                  placeholder=""
                />
                <mat-error *ngIf="number.hasError('required')">
                  الزامی است.
                </mat-error>
                <mat-error *ngIf="number.hasError('minlength')">
                  <span>شماره همراه بیشتر از 11 رقم باشد.</span>
                </mat-error>
                <mat-hint align="end"></mat-hint>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
      <mat-divider></mat-divider>

      <form class="example-form" *ngIf="membership">
        <mat-form-field class="example-full-width">
          <label>فرم عضویت مشتری</label>
          <input matInput disabled value="عضویت" />
        </mat-form-field>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-one">
                <mat-label>نام:</mat-label>
                <input name="name" [formControl]="name" matInput />
                <mat-error *ngIf="name.hasError('required')">
                  الزامی است.
                </mat-error>
                <mat-error *ngIf="name.hasError('minlength')">
                  <span> بیشتر از3 حرف.</span>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-one">
                <mat-label>نام خانوادگی</mat-label>
                <input name="lastname" [formControl]="lastname" matInput />
                <mat-error *ngIf="lastname.hasError('required')">
                  الزامی است.
                </mat-error>
                <mat-error *ngIf="lastname.hasError('minlength')">
                  <span> بیشتر از5 حرف.</span>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <mat-form-field class="example-full-width">
          <mat-label>پسورد</mat-label>
          <textarea
            name="password"
            [formControl]="password"
            matInput
            maxlength="6"
            placeholder="برای مثال :12345"
          ></textarea>
          <mat-error *ngIf="password.hasError('required')">
            الزامی است.
          </mat-error>
          <mat-error *ngIf="password.hasError('minlength')">
            <span> بیشتر از6 رقم.</span>
          </mat-error>
        </mat-form-field>
        <td class="full">
          <mat-form-field class="full-one">
            <mat-label>ایمیل</mat-label>
            <input name="email" [formControl]="email" matInput />
            <mat-error *ngIf="email.hasError('required')">
              الزامی است.
            </mat-error>
            <mat-error *ngIf="email.hasError('minlength')">
              <span>ایمیل بیشتر از20 حرف.</span>
            </mat-error>
          </mat-form-field>
        </td>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>شماره تلفن همراه:</mat-label>
                <input
                  name="number"
                  [formControl]="number"
                  matInput
                  #postalCode
                  maxlength="11"
                  placeholder=""
                />
                <mat-error *ngIf="number.hasError('required')">
                  الزامی است.
                </mat-error>
                <mat-error *ngIf="number.hasError('minlength')">
                  <span> شماره همراه بیشتر از11 رقم.</span>
                </mat-error>
                <mat-hint align="end"></mat-hint>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button [routerLink]="'/restaurant'"  (click)="add()" mat-button>
        ثبت
      </button>
      <button [routerLink]="'/customer'"  (click)="add()" mat-button>
        عضویت
      </button>
    </mat-card-actions>
    <mat-card-footer> </mat-card-footer>
  </mat-card>
</div>
